.chartSuhu{
    margin: 10px 78px;
    padding: 20px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    background-color: #F9FCF8;
}

.chartpH{
    margin: 50px 78px;
    padding: 20px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    background-color: #F9FCF8;
}

.chartTekanan{
    margin: 50px 78px;
    padding: 20px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    background-color: #F9FCF8;
}

.chartTitle{
    margin-bottom: 10px;
    text-align: center;
    
}

@media screen and (max-width: 1023px) {
    .chartSuhu{
        margin: 10px 30px;
        padding: 10px;
    }
    .chartpH{
        margin: 50px 30px;
        padding: 10px;
    }
    .chartTekanan{
        margin: 50px 30px;
        padding: 10px;
    }
}
